/MenuLCD.X/dist/default/
/MenuLCD.X/build/default/
/MenuLCD.X/nbproject/private/
/MenuLCD.X/nbproject/Makefile-default.mk
/MenuLCD.X/nbproject/Makefile-genesis.properties
/MenuLCD.X/nbproject/Makefile-impl.mk
/MenuLCD.X/nbproject/Makefile-local-default.mk
/MenuLCD.X/nbproject/Makefile-variables.mk
/MenuLCD.X/nbproject/Package-default.bash
